body {
    margin: 0;
}
/* フレーム設定  */
.wrap-router {
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    min-height:100vh;
}
.wrap-router > .header {
    height: 70px;
}
.wrap-router > .body{
    width: 1000px;
    margin: 0 auto;
    margin-top: 80px;
    display:flex;
    flex-direction: column;
}
.body > main {
    flex: 1;
}
.body > nav, .body > aside{
    width: 150px;
}
.wrap-router >.footer {
    height:100px;
}
/* メインコンテンツ */
.wrap {
    text-align: center;
    margin: 40px 0;
}
/* 画像 */
.book-image-row {
    display: flex;
    padding: 15px 0px;
    width: 100%;
}
.img-content{
    display: table;
    width: 200px;
    height: 280px;
}
.img-content > img{
    width: fit-content;
    max-width: 200px;
    height: 280px;
}
.img-content > .no-image {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(225, 247, 247);
    font-weight:bold;
}
.book-contents {
    flex: 1;
}
.book-bottons {
    width: 60px;
}
.valid-message {
    color:#de475e;
    font-size: 8px;
}

